OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

MCP_SERVER_URL=https://order-mcp-74afyau24q-uc.a.run.app/mcp
MCP_REQUEST_TIMEOUT=30

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com

LOG_LEVEL=INFO
ENVIRONMENT=development
